AWSTemplateFormatVersion: 2010-09-09
Description: Auto deployment of Logz.io ping statistics.
Parameters:
  Addresses:
    Type: String
    Description: >-
      The addresses to ping. You can add port for each address (default port for address is 80).
      Addresses must be separated by comma.
      (Example addresses: `www.google.com`, `tcp://www.google.com`, `https://www.google.com`, `http://www.google.com`).
    MinLength: 1
  PingCount:
    Type: Number
    Description: >-
      The number of pings for each address.
    Default: 3
    MinValue: 1
  PingInterval:
    Type: Number
    Description: >-
      The time to wait (seconds) between each ping.
    Default: 1
    MinValue: 1
  PingTimeout:
    Type: Number
    Description: >-
      The timeout (seconds) for each ping.
    Default: 10
    MinValue: 1
  LogzioListener:
    Type: String
    Description: >-
      The Logz.io listener URL for your region. (For more details, see the regions page:
      https://docs.logz.io/user-guide/accounts/account-region.html)
    Default: 'https://listener.logz.io'
    AllowedValues:
      - 'https://listener.logz.io'
      - 'https://listener-au.logz.io'
      - 'https://listener-ca.logz.io'
      - 'https://listener-eu.logz.io'
      - 'https://listener-nl.logz.io'
      - 'https://listener-uk.logz.io'
      - 'https://listener-wa.logz.io'
  LogzioMetricsToken:
    Type: String
    Description: >-
      Your Logz.io metrics token (Can be retrieved from the Manage Token page).
    MinLength: 1
  SchedulingInterval:
    Type: String
    Description: >-
      The scheduling expression that determines when and how often the Lambda
      function runs. Rate below 6 minutes will cause the lambda to behave unexpectedly
      due to cold start and custom resource invocation.
    Default: rate(30 minutes)
    MinLength: 1
    MaxLength: 256
Resources:
  LambdaFunction:
    Type: 'AWS::Lambda::Function'
    Properties:
      Code:
        S3Bucket: logzio-aws-integrations-us-east-1
        S3Key: ping-statistics-auto-deployment/function.zip
      FunctionName: logzio-ping-statistics
      Description: >-
        Lambda function for collecting API status metrics and sending
        them to Logz.io.
      Handler: bootstrap
      Role: !GetAtt IAMRole.Arn
      Runtime: provided.al2
      Timeout: 300
      MemorySize: 1024
      ReservedConcurrentExecutions: 1
      Environment:
        Variables:
          ADDRESSES: !Ref Addresses
          PING_COUNT: !Ref PingCount
          PING_INTERVAL: !Ref PingInterval
          PING_TIMEOUT: !Ref PingTimeout
          LOGZIO_METRICS_LISTENER: !Join
            - ''
            - - !Ref LogzioListener
              - ':8053'
          LOGZIO_METRICS_TOKEN: !Ref LogzioMetricsToken
          LOGZIO_LISTENER: !Join
            - ''
            - - !Ref LogzioListener
              - ':8071'
          ENABLE_EXTENSION_LOGS: 'false'
          ENABLE_PLATFORM_LOGS: 'false'
          GROK_PATTERNS: ''
          LOGS_FORMAT: ''
          CUSTOM_FIELDS: ''
  IAMRole:
    Type: 'AWS::IAM::Role'
    Properties:
      RoleName: logzio-ping-statistics
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - 'sts:AssumeRole'
      Path: /
      Policies:
        - PolicyName: logzio-ping-statistics
          PolicyDocument:
            Version: 2012-10-17
            Statement:
              - Effect: Allow
                Action:
                  - 'logs:CreateLogGroup'
                  - 'logs:CreateLogStream'
                  - 'logs:PutLogEvents'
                Resource: '*'
  EventRule:
    Type: 'AWS::Events::Rule'
    Properties:
      Name: logzio-ping-statistics
      ScheduleExpression: !Ref SchedulingInterval
      State: ENABLED
      Targets:
        - Arn: !GetAtt LambdaFunction.Arn
          Id: logzio-ping-statistics
    DependsOn: PrimerInvoke
  LambdaPermission:
    Type: 'AWS::Lambda::Permission'
    Properties:
      FunctionName: logzio-ping-statistics
      Action: 'lambda:InvokeFunction'
      Principal: events.amazonaws.com
      SourceArn: !GetAtt EventRule.Arn
  PrimerInvoke:
    Type: 'AWS::CloudFormation::CustomResource'
    DependsOn: LambdaFunction
    Version: "1.0"
    Properties:
      ServiceToken: !GetAtt LambdaFunction.Arn